.header {
  background-image: url(../../../public/assets/images/header.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.intro-box {
  height: 100vh;
}
.intro h1 {
  position: relative;
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  line-height: 1;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
}

.intro h1:after,
.intro h1:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
}
.intro h1:after {
  bottom: 0;
}
.intro h1:before {
  top: 0;
}
.btn-header {
  background-color: #a0636a;
  position: absolute;
  bottom: 100px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 50px;
  left: calc(50% - 89px);
  border-radius: 0;
}
@media (max-width: 991px) {
  .btn-header {
    bottom: 30px;
  }
}

.fun {
  text-align: center;
  text-transform: uppercase;
}
.fun-box {
  margin-bottom: 30px;
}
.fun-number {
  font-size: 50px;
}
.fun-title {
  font-size: 18px;
}

.cta {
  color: #fff;
  text-align: center;
  padding: 0;
}
.cta-bg {
  background-color: #a0636a;
  padding: 100px 0;
}
.cta h1 {
  text-transform: uppercase;
}
.cta-btn {
  margin-top: 20px;
  display: inline-block;
  font-size: 30px;
  padding: 10px 30px;
  border: 3px solid #fff;
}
.cta-btn a {
  color: #fff;
  text-decoration: none;
}

.button {
  color: #fff;
}
