.slider-1 {
  text-align: center;
  background-image: url(../../../public/assets/images/familly-back.jpg);
}
/* #slider_1 {
    background-color: #39496d;
  } */
.slider-1-item-box {
  color: #fff;
  padding: 50px;
}

.slider-1-item-box h2 {
  /* margin-top: 1rem; */
  margin: 10px auto 20px;
  text-transform: uppercase;
}
.slider-icon {
  font-size: 92px;
}

@media screen and (max-width: 768px) {
  .slider-icon {
    font-size: 150px;
  }
}
.slider-1-item-box p {
  line-height: 1.5;
  font-size: 16px;
}
.slider_1 {
  position: relative;
}

.dots {
  text-align: center;
  margin-top: -2rem;
}

.dot {
  cursor: pointer;
  margin-bottom: 30rem;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.mb0 {
  margin-bottom: -70px;
}

.carousel {
  background-color: #a0636a;
  width: 48rem;
  height: 45rem;
  margin-right: 20rem;
  @media screen and (max-width: 768px) {
    width: 28rem;
    height: 60rem;
    margin-left: 40px;
  }
}

/* .carouselIcon {
  font-size: 20px;
  color: #fff;
} */

.imageIcon {
  width: 80px;
  margin-top: -30px;
  margin-left: -30px;
}

.container-slider {
  width: 100%;
  height: 393px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px) {
  .container-slider {
    margin: 0 auto;
    overflow: hidden;
  }
}

/* imported code */
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  cursor: pointer;
}
.slide img {
  width: 10%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide img {
  width: 10px;
  height: 25px;
  pointer-events: none;
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}
