.footer {
  background-color: #3b1f22;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #969595;
}

.footer .footer-social {
  font-size: 24px;
}
.footer .footer-social a {
  color: #969595;
  margin: 8px;
}
@media (min-width: 768px) {
  .footer .footer-social {
    float: right;
  }
}
@media (max-width: 767px) {
  footer,
  .subscribe {
    text-align: center;
  }
}
