.slider-1 {
  text-align: center;
  background-image: url(../../../public/assets/images/familly-back.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}


.slider-1-item-box {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .slider-1-item-box {
    width: 300px;
    margin-bottom: 400px;
    height: 100px;
  }
}

.slider-1-item-box h2 {
  margin: 10px auto 20px;
  text-transform: uppercase;
}
.slider-icon {
  font-size: 72px;
}
.slider-1-item-box p {
  line-height: 1.5;
  font-size: 16px;
}
.slider_1 {
  position: relative;
  padding: 50rem;
}

.slider_1 .owl-controls .owl-dots {
  bottom: 40px;
  position: relative;
}
.mb0 {
  margin-bottom: -70px;
}

.item-img {
  width: 50px;
}

.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: hsl(210, 22%, 49%);
  color: #fff; 
  display: grid;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
  background: #3b1f22;
}
.prev {
  left: 0;
  top: 15rem;
  margin-left: 25px;
}
.next {
  right: 0;
  top: 15rem;
  margin-right: 25px;
}
.left {
  font-size: 50px;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}

article {
  background-color: #a0636a;
  position: absolute;
  padding: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  opacity: 0;
  transition: all 0.3s linear;
}

@media screen and (max-width: 768px) {
  #carousel-wrapper {
    height: 500px;
  }
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-1%);
}
article.nextSlide {
  transform: translateX(2%);
}

