/* .slider-1 {
  text-align: center;
  background-image: url(../../../public/assets/images/familly-back.jpg);
}
#slider_1 {
  background-color: #a0636a;
}
#slider_2 {
    background-color: #a0636a;
}

.slider-3 {
    text-align: center;
}
#slider_3 {
    background-color: #a0636a;
    margin-top: 20px;
    text-align: center;
}
.slider-1-item-box {
  color: #fff;
  padding: 50px;
}
.slider-1-item-box h2 {
  margin: 10px auto 20px;
  text-transform: uppercase;
}
.slider-icon {
  font-size: 72px;
}
.slider-1-item-box p {
  line-height: 1.5;
  font-size: 16px;
}
.slider_1 {
  position: relative;
}
.slider_1 .owl-controls .owl-dots {
  bottom: 40px;
  position: relative;
}
.mb0 {
  margin-bottom: -70px;
}

.itemImage {
    width: 50px;
} */

.card-1 {
  text-align: center;
  background-image: url(../../../public/assets/images/familly-back.jpg);
}
#card_1 {
  background-color: #a0636a;
}
.card-1-item-box {
  color: #fff;
  padding: 50px;
}
.card-1-item-box h2 {
  margin: 10px auto 20px;
  text-transform: uppercase;
}
.card-icon {
  font-size: 72px;
}
.card-1-item-box p {
  line-height: 1.5;
  font-size: 16px;
}
.card_1 {
  position: relative;
}
.card_1 .owl-controls .owl-dots {
  bottom: 40px;
  position: relative;
}
.mb0 {
  margin-bottom: -70px;
}

.itemImage {
  width: 50px;
}
