.consultation {
  background-color: #f2eeed;
}
.consultation-form .form-control {
  margin-bottom: 30px;
  border-radius: 0;
}
.consultation-form .bootstrap-select .btn,
.consultation-form .dropdown-menu {
  border-radius: 0;
}
.btn-cn {
  background-color: #a0636a;
  border-radius: 0;
  color: #fff;
  padding: 10px 10px;
}
.btn-cn:hover {
  border-color: #a0636a;
  background-color: transparent;
}
.consultation {
  background-color: #f2eeed;
}
.consultation-form .form-control {
  margin-bottom: 30px;
  border-radius: 0;
}
.consultation-form .bootstrap-select .btn,
.consultation-form .dropdown-menu {
  border-radius: 0;
}


